.hero{
    @media(min-width:$XR) {
        margin-top: 50px;
    }
    @media (max-width:$tablet) {
        margin-top: 40px;
    }
    &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 25px 0px 25px 0px;
    }
    &__currentdate{
        padding: 0 0 10px 0;
    }
    &__select{
        margin: 40px 0px 0 0;
    }
}